html{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: brown;
}

header nav{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}
nav h1{
    padding: 1rem;
}

nav ul{
    display: flex;
}

ul li,a{
    list-style:none;
    text-decoration: none;
    color: #333;
}

ul li{
    padding: 1rem;
}

section{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 90%;
}

section input[type=button]{
    width: auto;
    padding: 1rem;
    border:none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
}

section input[type=button]:hover{
    padding: 1.1rem;
}

section h2{
    margin-top: 1.5rem;
}